    :root{
        --prinary-color:white;
        --bg-color:white;
        --primary-color: #3b82f6;
         --primary-dark: #064bdf;
         --primary-hover:#1d4ed8;

     --text-color: #f9f9f9;
   --border-color: #3b82f6;
   --disabled-color: #9ca3af;
    --primary-active:#1e40af;
   
    }
    
    body{
        font-family: 'poppins',sans-serif;
        background-color: var(--prinary-color);
        color:black;
        padding: 20px;
       font-family: Arial, sans-serif;
       background: #dddddd;
      }
      .container {
  padding: 20px;
}

     header{
        color: black;
        background: #4facfe;
        border-radius: 8px;
        margin-bottom: 20px;
        padding: 25px;
     }
     .btn {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  width: auto;
     }
     
   .btn-primary {
  background: var(--primary-color);
   color:white;
   transition: 0.2s ease;
}
 .btn-primary:hover,
.btn-primary.hover {
  background: var(--primary-dark);

} 
      .btn-primary:active,
.btn-primary.active {
  transform: scale(0.9);
  transition: 0.1s;
}
  .btn-primary:disabled {
  background: var(--disabled-color);
  cursor: not-allowed;
}
   .btn-secondary {
  background: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: 0.2s ease;
} 
     .btn-secondary:hover,
.btn-secondary.hover {
   background: transparent;
  background: var(--primary-color);
  color: white;
} 
   .btn-secondary:active,
.btn-secondary.active {
  transform: scale(0.95);
}
    
 
.btn-secondary:disabled {
  background-color: var(--disabled-color);
  background: transparent;
  border-color: var(--disabled-color);
  cursor: not-allowed;
  color: white;
  opacity: 0.6;
}
    .row {
  margin: 20px 0;
}



     main{
        background-color: #d7d6d6;
        padding:20px;
       border-radius: 8px;
        margin-bottom: 20px;
      }
     
     footer{
        text-align: center;
        padding: 20px;
        background: #4facfe;
     }